@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
}
img{ 
    height: 2.8rem;
}
body{
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(0, 0, 195) ,rgb(0, 0, 168), white);
    /* flex-direction: column; */
}
.card{
    width: 3rem;
    height: 3.5rem;
    position: relative;
    
    transform-style: preserve-3d;
    transition: transform .5s;
}
.card_front, .card_back{
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.45);
    position: absolute;
    backface-visibility: hidden;
    transition: transform 2s;
}
.flip{
    transform: rotateY(180deg);
}
.card_front{
    background-color: rgb(249, 209, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}
.card_back{
    background-color: #05c5ff;
}
.card_back img{
    height: 3rem;
}
#gameOver{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    top: 0;
}
#resultado{
    text-align: center;
}
#restart{
    font-size: .8rem;
    padding: .6rem;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top:  3rem;
    font-weight: bolder;
}
#branco{
    color: white;
}
.placar{
    font-size: 4rem;
    filter: drop-shadow(5px 5px 2px  black);
    box-shadow: 5px 5px 10px black;
    padding: .6rem;
    transition-duration: 1.5s;
}
#roxo{
    color: rgb(115, 0, 255);
}
#gameBoard{
    display: grid;
    gap: .3rem;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
}
#containerPlacarMobile{
    display: flex; 
    gap: 3rem;
    
}
@media (max-width: 1600px){
    *{
        font-size: 32px;
    }
    .placar{
        font-size: 3rem;
    }
    #gameBoard{
        display: grid;
        gap: .5rem;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
    }
    body{
        justify-content: space-evenly; 
        flex-direction: row;
    }
    .card{
        width: 4rem;
        height: 4.5rem;
    }

}

@media (max-width: 1090px){
    *{
        font-size: 30px;
    }
    .placar{
        font-size: 2.5rem;
    }
    #gameBoard{
        gap: .3rem;
    }
    body{
        flex-direction: column;
    }
    .card{
        width: 3rem;
        height: 3.5rem;
    }

}
@media (max-width: 800px){
    *{
        font-size: 21px;
    }
}